# remapped prefix
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# split panes using | and -
unbind '"'
unbind %
bind | split-window -h
bind - split-window -v

# Enable mouse mode
set -g mouse on

# Recommended settings for neovim
set-option -sg escape-time 10
set-option -g focus-events on
set-option -g default-terminal "screen-256color"
